@page "/SContent/{id}/{title}"
@model AlvanUastWebsiteM.Pages.StaticContentModel
@{
    Layout = "_news";
}

@if (Model.idd == 1)
{
    @section sitemap{
        <span class=""><a href="@Url.Content("~/")">خانه</a></span>
        <span class=""><a href="">معرفی شرکت دانش بنیان الوان ثابت</a></span>
    }

    @section news{
        <h4 class="my-4" style="">معرفی شرکت دانش بنیان الوان ثابت</h4>
        <div class="d-flex flex-row justify-content-between">
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-calendar-check mycolor"></span> @DateTime.Now.toPersianDate()</span>
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-tag mycolor"></span> بلاگ </span>
            <span class="mycolor" style="font-size:13px;color: #c3c3c3;cursor:pointer"><span onclick="printDiv('newssection')" class="bi bi-printer"></span><span class="mx-1"></span><span onclick="navigator.clipboard.writeText(window.location.href);" class="bi bi-share"></span></span>
        </div>
        <img class="img-fluid img-thumbnail rounded mx-auto d-block mt-2" src="~/images/education/1.jpg">
        <p class="text-justify p-3">
            <b>الوان ثابت در یک نگاه</b><br />
            شرکت دانش بنیان الوان ثابت در سال 1361 در 45 کیلومتری شهرستان همدان در جاده همدان – تهران به عنوان بزرگترین سنتز کننده رنگ و مواد شیمیایی در خاورمیانه با پوشش صنایع نساجی و چرم تاسیس شد و در چهار گروه     رنگ های نساجی اسیدی، مستقیم، راکتیو وخمیر پیگمنت در سال 1375 مورد بهره برداری قرار گرفت.
            <br />
            این کارخانه در زمینی به مساحت 24 هکتار با زیر بنای معادل 25 هزار متر مربع احداث گردید. ظرفیت تولید اولیه شرکت معادل 4000 تن از انواع رنگ های نساجی ، چرم و مواد کمکی نساجی بود.
            <br />
            سپس در سال 1383 با ارتقاء دانش فنی تولید و جذب کارشناسان کارآزموده کیفیت محصولات تا سطح استانداردهای بین المللی ارتقاء داده شد و سالانه بیش از 100 نوع از رنگ های اسیدی، راکتیو، مستقیم، خمیر پیگمنت و مواد تعاونی نساجی ، چرم و کاغذ را برای مشتریان بی شمار در سراسر کشور و برخی کشورهای همسایه تامین می نماید. همچنین این شرکت با توجه به نیاز پالایشگاه های نفت کشور به رنگ بنزین و فرآورده های نفتی در راستای تحقق خودکفایی کشور پس از اخذ تاییدیه کیفیت از پژوهشکده صنعت نفت اقدام به تولید و تامین عمده رنگ مصرفی کلیه پالایشگاه های کشور را نموده است.
            <br />
            در سال 1388 به دنبال سال ها مطالعه تولید و بازار و جذب نیروی متخصص جدید و کارآمد بر حسب وظیفه تولید ملی و امکانات موجود بر آن شدیم رنگ های مورد مصرف در صنایع شوینده (صابون ها، مایعات شوینده دست و ظروف و ... ) و صنایع بهداشتی (ضدعفونی کننده ها و برخی لوازم آرایشی بهداشتی) را به صورت دانش بنیان و مطابق استاندارد جهانی و کشور سنتز نمائیم.
            <br />
            به این ترتیب کشور از سال 1389 در رنگ های صابون، مایعات و اپتیکال برایتنر (جهت صنایع تولید پودر کشور) بی نیاز شد.
        </p>
        <p class="text-justify p-3">
            <b>سایت دارویی غذایی شرکت دانش بنیان الوان ثابت</b><br />
            شرکت دانش بنیان الوان ثابت با سابقه 23 ساله در سنتز انواع رنگ های تخصصی پایه آلی و 9 سال تحقیق بر روی رنگ های دارویـی و غذایی از سال 1396 با آماده کردن ساختمان مجزای دارویی و الهام گیری از قوانین GMP اعلام شده از سوی سازمان غذا و دارو موفق به تولید رنگ های مورد مصرف در صنایع دارویی گردید. در سنتز این رنگ ها با مراجعه به فارماکوپه و اقتباس از آن و منطبق بر مراجع تولید کنندگان مطرح جهان از جمله آمریکا و اروپا، محصولات تولیدی عاری از هرگونه فلزات سنگین و آلاینده ها بوده که با تعیین دوز میکروبی و آزمایشات لازم با روش هایی مانند پرتودهی ، تمام انواع آلودگی میکروبی را از بین برده  و با افتخار یک محصول ناب داخلی را ارائه می نمایدکه علاوه بر سهولت دسترسی و تهیه مصرف کنندگان محترم صرفه اقتصادی صنایع  مذکور را نیز در بر می گیرد .
        </p>
        <p class="text-justify p-3">
            <b>دستاوردهای شرکت دانش بنیان الوان ثابت تاکنون</b><br />
            • تولید رنگهای دارویی – خوراکی- بهداشتی <br>• تولید و عرضه وسیع رنگ صنایع شوینده <br>• تولید تعدادی از مواد اولیه وارداتی مصرفی شرکت <br>• تولید و عرضه رنگهای فلورسنتی ضد یخ و مشتقات نفتی <br>• تولید و عرضه وسیع رنگهای مورد مصرف پالایشگاههای ایران در بنزین و حلال های نفتی  <br>• تولید و عرضه مواد تعاونی صنایع چرم ( صابون و چربی گیر – نفوذ دهنده – پر کننده – روغن pull up ) <br>• تولید و بهینه سازی سفید کننده نوری صنایع نساجی و کاغذ <br>• تولید و عرضه وسیع رنگهای جدید و متنوع مصرفی صنایع چرم(پودری نفوذی،پوششی و پیگمنت ) <br>• تولید و عرضه انبوه سفید کننده نوری مناسب صنایع شوینده جهت پودر و مایعات شوینده  <br>• تولید و عرضه رنگهای جدید مورد مصرف صنایع نساجی از جمله رنگهای راکتیو دو عاملی (Bifunctional) <br>• تولید و عرضه رنگ مصرفی صنایع کود و سموم شیمیایی متناسب با کاربرد و ساختار شیمیایی کود <br>• تولید و عرضه مواد تعاونی صنایع نساجی ( رزیست سالت- نرم کن سیلیکونی – ضدکف سیلیکونی – انواع صابون و یکنواخت کننده ) <br>• تولید و عرضه وسیع رنگهای مصرفی صنایع کاغذ سازی ( سایزپرس و اینترنال ) بصورت مایع ، پودری و ضد آب مصرفی کاغذ سازی
        </p>
        <p class="text-justify p-3">
            <b> برنامه های آینده شرکت دانش بنیان الوان ثابت</b><br />
            • تولید و بومی سازی سایر مواد اولیه مصرفی وارداتی در تولید رنگ <br>• افزایش ظرفیت و بهینه سازی تولید رنگ های نساجی <br>• راه اندازی خط تولید جدید پودرهای پیگمنت پرمصرف صنایع پلاستیک ، رنگ و رزین ، چرم مصنوعی <br> • تولید رنگ های سالونت مایع <br> • تولید و فرمولاسیون رنگهای نساجی جهت چاپ به روش جت پرینت  <br> • تولید مرکب چاپ افست و انواع مرکب های چاپ کاغذ و لیتوگرافی <br> • تولید سفیدکننده نوری مناسب الیاف پلی استر و صنایع پلاستیک <br> • تولید رنگ شیشه
        </p>
    }
}
else if (Model.idd == 2)
{
    @section sitemap{
        <span class=""><a href="@Url.Content("~/")">خانه</a></span>
        <span class=""><a href="">معرفی مرکز علمی کاربردی الوان ثابت</a></span>
    }

    @section news{
        <h4 class="my-4" style="">معرفی مرکز علمی کاربردی الوان ثابت</h4>
        <div class="d-flex flex-row justify-content-between">
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-calendar-check mycolor"></span> @DateTime.Now.toPersianDate()</span>
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-tag mycolor"></span> بلاگ </span>
            <span class="mycolor" style="font-size:13px;color: #c3c3c3;cursor:pointer"><span onclick="printDiv('newssection')" class="bi bi-printer"></span><span class="mx-1"></span><span onclick="navigator.clipboard.writeText(window.location.href);" class="bi bi-share"></span></span>
        </div>
        <img class="img-fluid img-thumbnail rounded mx-auto d-block mt-2" src="~/images/education/2.jpg">
        <p class="text-justify p-3">
            دانشگاه علمی کاربردی مرکز آموزش الوان ثابت یکی از مراکز  وابسته به دانشگاه جامع علمی کاربردی استان همدان است که از سال 1392 وابسته به شرکت دانش بنیان الوان ثابت به طور رسمی کار خود را آغاز کرده است.
            مرکز آموزش علمی کاربردی الوان ثابت به عنوان نخستین مرکز آموزش علمی کاربردی در شهرستان کبودراهنگ شروع به فعالیت کرده و در رشته‌های صنعتی دانشجو می‌پذیرد.
            تأسیس مرکز آموزش علمی کاربردی الوان ثابت در سال تولید ملی، حمایت از کار و سرمایه ایرانی دانشگاه جامع علمی کاربردی در راستای اجرای این شعار کلیدی کشور صورت گرفته است.
            این مرکز با ارائه سه رشته ایمنی و بهداشت واحدهای صنفی، شیمی آزمایشگاهی ـ صنعتی و صنایع شیمیایی ـ‌ رنگ‌سازی عملاً فعالیت خود را شروع کرد
            پذیرش این رشته‌ها بدون آزمون ورودی می باشد مدارک فارغ‌التحصیلی این رشته‌ها کاملاً معتبر و دانش‌آموختگان آن نیز می‌توانند در سطوح بالاتر تحصیلی انشگاه جامع علمی کاربردی و یا سایر دانشگاه‌های کشور به ادامه تحصیل بپردازند
            داوطلبان آزاد و شاغل، می‌توانند با دریافت دفترچه راهنمای ثبت ‌نام دوره‌های کاردانی فنی و کاردانی پودمانی دانشگاه جامع علمی کاربردی از سایت سازمان سنجش آموزش کشور  ثبت نام خود اقدام کنند.
            مرکز آموزش علمی کاربردی الوان ثابت با تلاش‌های پیگیر و همت عالی مدیرعامل و دیگر مسئولان کارخانه و با نظر بلند و رویکردهای مهارتی دانشگاه جامع علمی کاربردی به ثمر نشسته است
            امید است با ظرفیت‌های کارگاهی و آزمایشگاهی بسیار خوبی که در این کارخانه وجود دارد در آینده‌ای نزدیک مرکز آموزش علمی کاربردی الوان ثابت به یکی از مراکز آموزشی م‍ؤثر در چرخه اشتغال استان تبدیل شود
            رفع نیاز بازار کار به منابع انسانی با تجربه و دارای مدارک معتبر دانشگاهی و پاسخ به نیازهای علمی کاربردی کارخانه الوان ثابت از جمله اهداف تأسیس این مرکز به شمار می رود
            : با تأسیس مرکز آموزش علمی کاربردی در شرکت صنعتی الوان ثابت کبودراهنگ در واقع پیوند دانشگاه با صنعت عملی و اجرایی شده و فاصله بین دانشگاه  صنعت کاهش یافته است.
            4درصد از سرفصل‌های دروس رشته‌های ارائه شده در مرکز آموزش علمی کاربردی الوان ثابت نظری و 60 درصد مهارتی است
        </p>
        <p class="text-justify p-3">
            <b>اهداف کلان</b><br />
            افزایش جذب دانشجویان نخبه و مستعد،
            دستیابی به جایگاه ممتاز آموزشی به ویژه در تحصیلات تکمیلی،
            توسعه محیط یادگیری خالق و جذاب، ارتقاء اثربخشی آموزش،
            تاسیس حوزههای میان رشته های و تربیت دانش آموختگان توانمند و متعهد همسو با نیازهای جامعه افزایش کیفی و کمی تولیدات علمی، توسعه متوازن واحدهای پژوهشی و دستیابی به جایگاه ممتاز پژوهشی در سطح ملی و بین المللی
            ارتقای توانمندی در کارآفرینی،
            افزایش ظرفیت تولید فناوری، توسعه قابلیتهای بهرهبرداری و انتقال فناوریهای نوین و تولید و ارائه محصولات خدمات تخصصی دانش بنیان
            ،   استقرار مدیریت اثربخش، پاسخگو و مبتنی بر خرد جمعی و نظام مشارکتی
            برخورداری از منابع انسانی کارآمد، شایسته و ملتزم به ارزشهای محوری دانشگاه
            ارتقای تعلق خاطر دانشجویان و دانش آموختگان به دانشگاه
            توسعه و ارتقای روزآمد فضاهای کالبدی و زیرساختهای تجهیزاتی، فناورانه و کالبدی توسعه و ارتقای روزآمد قابلیتها و کاربستهای فناوری اطالعات و ارتباطات
            تحقق دانشگاه سبز و ایفای نقش مؤثر در حفظ و بهبود محیط زیست
        </p>
        <p class="text-justify p-3">
            <b>گروهای آموزشی و رشته ها</b><br />
            مرکز علمی کاربردی الوان ثابت ابتدا در مقطع کاردانی و کارشناسی در رشته های مدیریت لجستیک و زنجیره تامین  و برق صنعتی  پذیرش داشته است و در سالهای 93 تا 97 بیشترین پذیرش دانشجو در رشته های فنی برق صنعتی و کارشناسی صنایع شیمیایی بوده است.
            پذیرش  این دانشگاه از سال 1392 تا 1398 (در 8سال اول) در مجموع 75 دانشجو بود.که تعداد فارغ التحصیلان مرکز از ابتدا تا سال 1398 حدود 50 دانشجو در ترم اخر تحصیلی خود بودند که در سال1399فارغ التحصیل شدند و حدود 20 دانشجو نیز در حال گذراندن ترم آخر تحصیلی خود بوده اند.
            از سال 1399 دانشگاه با ریاست جناب آقای دکتر گلزاری مجدد فعالیت خود را  شروع کرد و با پذیرش8 دانشجو در ترم اول به 20 نفر در ترم دوم رسید، در سال 1400پذیرش به 47دانشجو در ترم اول هم اکنون حدودا 110 دانشجو رسیده است .
            رشته های فعال تا سال 1399 سه رشته در مقطع  کاردانی شیمی آزمایشگاهی و برق صنعتی و کارشناسی مهندسی صنایع شیمیایی  و در سال 1400 به هشت رشته از جمله:  کاردانی مکانیک تاسیسات صنعتی  ، مدیریت کسب و کار ، حسابداری بهای تمام شده، برق صنعتی ،صنایع شیمیایی رنگسازی، فنی ایمنی کار و حفاظت فنی و  رشته های کارشناسی مهندسی صنایع شیمیایی و مهندسی الکترونیک صنعتی  و مهندسی صنایع پلیمر - رنگ سازی نیز اضافه شده اند.
        </p>
        <p class="text-justify p-3">
            <b> دستاوردها</b><br />
            دانشگاه علمی کاربردی الوان ثابت در سال 1400 موفق به برگزاری دو وبینار با موضوعات : وبینار سنتز رنگزا و رنگدانه ها از مواد شیمیایی پایه با حضور 6 ایده پرداز و 4داور  _  وبینار بررسی راهکارهای پرورش دانشجویان برای ورود موثر به صنعت کشور با حضور 3اساتید مجرب ، برگزار  شد که   از این  ایده ها 4  ایده برتر در زمینه های رنگ و صنایع شیمیایی  به اثبات رسید تا انجا که در سال 1400 مجوز فعالیت در مرکز رشد و نوآوری شرکت تولید رنگ و مواد کمکی نساجی الوان ثابت را به خود اختصاص داد.
        </p>
    }
}
else if (Model.idd == 3)
{
    @section sitemap{
        <span class=""><a href="@Url.Content("~/")">خانه</a></span>
        <span class=""><a href="">معرفی مرکز رشد و نوآوری الوان ثابت</a></span>
    }

    @section news{
        <h4 class="my-4" style="">معرفی مرکز رشد و نوآوری الوان ثابت</h4>
        <div class="d-flex flex-row justify-content-between">
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-calendar-check mycolor"></span> @DateTime.Now.toPersianDate()</span>
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-tag mycolor"></span> بلاگ </span>
            <span class="mycolor" style="font-size:13px;color: #c3c3c3;cursor:pointer"><span onclick="printDiv('newssection')" class="bi bi-printer"></span><span class="mx-1"></span><span onclick="navigator.clipboard.writeText(window.location.href);" class="bi bi-share"></span></span>
        </div>
        <img class="img-fluid img-thumbnail rounded mx-auto d-block mt-2" src="~/images/education/3.jpg">
        <p class="text-justify p-3">
            الوان ثابت در راستای توسعه و پژوهش جهت تولید مواد اولیه مصرفی شرکت و صنایع وابسته اقدام به تاسیس مرکز نوآوری نمود .این مرکز زیر نظر دانشگاه علمی کاربردی در جلسه شورای سیاست گذاری و راهبردی مراکز نوآوری و رشد به شماره ثبت 13403 از سوی معاونت پژوهش و فناوری وزارت علوم مجوز فعالیت دریافت نمود  .
        </p>
    }
}
else if (Model.idd == 4)
{
    @section sitemap{
        <span class=""><a href="@Url.Content("~/")">خانه</a></span>
        <span class=""><a href="">جذب فارغ التحصیلان ممتاز</a></span>
    }

    @section news{
        <h4 class="my-4" style="">جذب فارغ التحصیلان ممتاز</h4>
        <div class="d-flex flex-row justify-content-between">
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-calendar-check mycolor"></span> @DateTime.Now.toPersianDate()</span>
            <span style="font-size:13px;color: #c3c3c3;"><span class="bi bi-tag mycolor"></span> بلاگ </span>
            <span class="mycolor" style="font-size:13px;color: #c3c3c3;cursor:pointer"><span onclick="printDiv('newssection')" class="bi bi-printer"></span><span class="mx-1"></span><span onclick="navigator.clipboard.writeText(window.location.href);" class="bi bi-share"></span></span>
        </div>
        <img class="img-fluid img-thumbnail rounded mx-auto d-block mt-2" src="~/images/education/4.jpg">
        <p class="text-justify p-3">
            دانشجویان ممتاز در این مرکز از مزیت تحصیل به صورت بورس و استخدام در کارخانه الوان ثابت برخوردار خواهند شد. اخذ مدرک مورد تایید وزارت علوم تحقیقات و فناوری، فضای آموزشی و امکانات مناسب، آزمایشگاه های پیشرفته و سرویس ایاب و ذهاب و سلف سرویس از دیگر مزایای این مرکز آموزشی است.
        </p>
    }
}


@section sidemenu{
    <aside class="test1 topics__aside sticky-sidebar__simple" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; left: -17px; top: 0px;">
            <div class="post-nav">
                <div class="post-nav__body">
                    <div class="_title">
                        <span class="bold">سایر مطالب</span>
                    </div>
                    <ul class="related-posts">

                        @*شرکت*@
                        <li class="related-posts__item">
                            <a href="/SContent/1/معرفی شرکت دانش بنیان الوان ثابت" title="معرفی شرکت دانش بنیان الوان ثابت" class="image-wrapper">
                                <img width="60" height="60" src="~/images/education/1.jpg" class="image-wrapper__img wp-post-image" alt="الوان ثابت">
                            </a>
                            <div class="detail-wrapper">
                                <a href="/SContent/1/معرفی شرکت دانش بنیان الوان ثابت" title="معرفی شرکت دانش بنیان الوان ثابت" class="detail-wrapper__title">معرفی شرکت دانش بنیان الوان ثابت</a>
                                <div class="detail-wrapper__time">
                                    <i class="icon-clock-icon"></i>
                                </div>
                            </div>
                        </li>

                        @*دانشگاه*@
                        <li class="related-posts__item">
                            <a href="/SContent/2/معرفی مرکز علمی کاربردی الوان ثابت" title="معرفی مرکز علمی کاربردی الوان ثابت" class="image-wrapper">
                                <img width="60" height="60" src="~/images/education/2.jpg" class="image-wrapper__img wp-post-image" alt="علمی کاربردی">
                            </a>
                            <div class="detail-wrapper">
                                <a href="/SContent/2/معرفی مرکز علمی کاربردی الوان ثابت" title="معرفی مرکز علمی کاربردی الوان ثابت" class="detail-wrapper__title">معرفی مرکز علمی کاربردی الوان ثابت</a>
                                <div class="detail-wrapper__time">
                                    <i class="icon-clock-icon"></i>
                                </div>
                            </div>
                        </li>

                        @*مرکز رشد*@
                        <li class="related-posts__item">
                            <a href="/SContent/3/معرفی مرکز رشد و نوآوری الوان ثابت" title="معرفی مرکز رشد و نوآوری الوان ثابت" class="image-wrapper">
                                <img width="60" height="60" src="~/images/education/3.jpg" class="image-wrapper__img wp-post-image" alt="مرکز رشد">
                            </a>
                            <div class="detail-wrapper">
                                <a href="/SContent/3/معرفی مرکز رشد و نوآوری الوان ثابت" title="معرفی مرکز رشد و نوآوری الوان ثابت" class="detail-wrapper__title">معرفی مرکز رشد و نوآوری الوان ثابت</a>
                                <div class="detail-wrapper__time">
                                    <i class="icon-clock-icon"></i>
                                </div>
                            </div>
                        </li>

                        @*جذب*@
                        <li class="related-posts__item">
                            <a href="/SContent/4/جذب فارغ التحصیلان ممتاز" title="جذب فارغ التحصیلان ممتاز" class="image-wrapper">
                                <img width="60" height="60" src="~/images/education/4.jpg" class="image-wrapper__img wp-post-image" alt="فارغ التحصیلان">
                            </a>
                            <div class="detail-wrapper">
                                <a href="/SContent/4/جذب فارغ التحصیلان ممتاز" title="جذب فارغ التحصیلان ممتاز" class="detail-wrapper__title">جذب فارغ التحصیلان ممتاز</a>
                                <div class="detail-wrapper__time">
                                    <i class="icon-clock-icon"></i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </aside>
}